---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="m-0 w-full h-full">
    <main
      class="flex min-h-screen flex-col items-center justify-center p-4 bg-gray-100"
    >
      <p class="text-sm uppercase tracking-wider text-gray-500 mb-2">
        Operately
      </p>
      <h1 class="text-4xl font-bold text-gray-700 mb-4">
        Bureau for Prototyping Research and Design
      </h1>
      <div class="text-lg">
        <ul>
          <li>
            <a href="/design-system/" class="text-blue-600">Design System</a>
          </li>
          <li>
            <a href="/work-map/" class="text-blue-600">Work Map</a>
          </li>
          <li>
            <a href="/navigation/" class="text-blue-600">Navigation</a>
          </li>
          <li>
            <a href="/canvas/" class="text-blue-600">Canvas</a>
          </li>
        </ul>
      </div>
    </main>
  </div>
</Layout>
