---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";

// Using the first avatar from mockData.js
const avatarUrl =
  "https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80";
---

<Layout title="Navigation">
  <div class="flex flex-col h-screen">
    <nav
      class="transition-all z-50 bg-base border-b border-surface-outline py-1.5"
    >
      <div class="flex items-center justify-between px-4">
        <div class="flex items-center">
          <a href="/" class="flex items-center gap-2 cursor-pointer">
            <Logo width="22px" height="22px" />
          </a>

          <!-- Company dropdown -->
          <div class="border-l border-surface-outline px-2.5 ml-4">
            <button
              class="flex items-center space-x-1 px-2 py-1 font-semibold rounded hover:bg-surface-bg-highlight"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-building-estate"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 21h18"></path><path d="M19 21v-4"></path><path
                  d="M19 17a2 2 0 0 0 2 -2v-2a2 2 0 1 0 -4 0v2a2 2 0 0 0 2 2z"
                ></path><path
                  d="M14 21v-14a3 3 0 0 0 -3 -3h-4a3 3 0 0 0 -3 3v14"
                ></path><path d="M9 17v4"></path><path d="M8 13h2"></path><path
                  d="M8 9h2"></path></svg
              >
              <span>Nexus Dynamics</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>

          <!-- Home Company My work -->
          <div
            class="flex items-center gap-2.5 border-l border-surface-outline px-4"
          >
            <a
              href="#"
              class="px-1.5 py-0.5 font-semibold rounded hover:bg-surface-bg-highlight flex items-center gap-1"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-home-2"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M5 12l-2 0l9 -9l9 9l-2 0"></path><path
                  d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path
                  d="M10 12h4v4h-4z"></path></svg
              >
              <span>Home</span></a
            >
            <a
              href="/work-map/"
              class="px-1.5 py-0.5 font-semibold rounded hover:bg-surface-bg-highlight flex items-center gap-1"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-map"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 7l6 -3l6 3l6 -3v13l-6 3l-6 -3l-6 3v-13"></path><path
                  d="M9 4v13"></path><path d="M15 7v13"></path></svg
              >
              <span>Company</span></a
            >
            <a
              href="#"
              class="font-semibold flex items-center gap-1 cursor-pointer group hover:bg-surface-bg-highlight px-1.5 py-0.5 rounded relative"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-camera-selfie"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2"
                ></path><path d="M9.5 15a3.5 3.5 0 0 0 5 0"></path><path
                  d="M15 11l.01 0"></path><path d="M9 11l.01 0"></path></svg
              >
              <span>My work</span>
            </a>
          </div>

          <div class="border-l border-surface-outline pl-4">
            <a
              href="#"
              class="font-semibold flex items-center gap-1 cursor-pointer group hover:bg-surface-bg-highlight px-1.5 py-0.5 rounded relative"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="tabler-icon tabler-icon-coffee mb-[3px]"
                ><path
                  d="M3 14c.83 .642 2.077 1.017 3.5 1c1.423 .017 2.67 -.358 3.5 -1c.83 -.642 2.077 -1.017 3.5 -1c1.423 -.017 2.67 .358 3.5 1"
                ></path><path d="M8 3a2.4 2.4 0 0 0 -1 2a2.4 2.4 0 0 0 1 2"
                ></path><path d="M12 3a2.4 2.4 0 0 0 -1 2a2.4 2.4 0 0 0 1 2"
                ></path><path
                  d="M3 10h14v5a6 6 0 0 1 -6 6h-2a6 6 0 0 1 -6 -6v-5z"
                ></path><path d="M16.746 16.726a3 3 0 1 0 .252 -5.555"
                ></path></svg
              >
              <span>Review</span>
            </a>
          </div>
        </div>

        <div class="flex-1"></div>

        <div class="ml-auto flex items-center space-x-1">
          <button
            class="flex items-center space-x-1 px-2 py-1 text-gray-700 font-medium rounded hover:bg-gray-100"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-4 h-4"
            >
              <path
                d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
              ></path>
            </svg>
            <span>New</span>
          </button>

          <button
            class="flex items-center justify-center w-8 h-8 text-gray-600 rounded hover:bg-gray-100"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-5 h-5"
            >
              <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm-.75 3.75a.75.75 0 00-.75.75v1.5a.75.75 0 001.5 0v-1.5a.75.75 0 00-.75-.75z"
                clip-rule="evenodd"></path>
            </svg>
          </button>

          <div class="relative">
            <button
              class="flex items-center justify-center w-8 h-8 text-gray-600 rounded hover:bg-gray-100"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 2a6 6 0 00-6 6c0 1.887-.454 3.665-1.257 5.234a.75.75 0 00.515 1.076 32.91 32.91 0 003.256.508 3.5 3.5 0 006.972 0 32.903 32.903 0 003.256-.508.75.75 0 00.515-1.076A11.448 11.448 0 0116 8a6 6 0 00-6-6zM8.05 14.943a33.54 33.54 0 003.9 0 1.997 1.997 0 01-3.9 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
            <div
              class="absolute -top-1 -right-1 bg-red-500 text-white text-xs font-semibold w-4 h-4 flex items-center justify-center rounded-full"
            >
              6
            </div>
          </div>

          <div
            class="w-8 h-8 rounded-full overflow-hidden border border-gray-200"
          >
            <img
              src={avatarUrl}
              alt="User avatar"
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      </div>
    </nav>

    <div class="flex-1 overflow-y-auto">
      <div class="mx-auto relative sm:my-10 sm:max-w-[90%] lg:max-w-5xl">
        <div
          class="bg-surface-dimmed flex items-center flex-wrap justify-center gap-1 pt-2 pb-1 mx-0 sm:mx-10 font-semibold rounded-t border-b sm:border-b-0 sm:border-t sm:border-x border-surface-outline"
        >
          <a
            class="cursor-pointer transition-colors underline underline-offset-2 text-link-base hover:text-link-hover"
            href="/"><span class="flex items-center gap-1.5">Lobby</span></a
          ><div class="shrink-0">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="tabler-icon tabler-icon-slash"
              ><path d="M17 5l-10 14"></path></svg
            >
          </div><a
            class="cursor-pointer transition-colors underline underline-offset-2 text-link-base hover:text-link-hover"
            href="/navigation"
            ><span class="flex items-center gap-1.5">Navigation example</span
            ></a
          >
        </div>
        <div
          class="relative bg-surface-base px-4 sm:px-12 py-10 min-h-dvh sm:min-h-0 sm:border sm:border-surface-outline sm:rounded-lg sm:shadow-xl"
        >
          <div class="flex flex-col items-center">
            <div
              class="text-content-accent text-xl sm:text-2xl md:text-3xl font-extrabold text-center"
            >
              Work maps - wireframes
            </div><div
              class="flex flex-wrap justify-center gap-1 items-center mt-2 text-content-accent font-medium text-sm sm:text-[16px]"
            >
              <div class="flex items-center gap-1">
                <div
                  title="Rocco Carbonaro"
                  class="rounded-full overflow-hidden bg-white shrink-0 border border-stroke-base inline-block"
                  style="width: 20px; height: 20px;"
                >
                  <img
                    src="https://lh3.googleusercontent.com/a/ACg8ocLtvPD5PjNi3SE-LwFoKUb2E5d0SXDx_RWLQ_cxy7B2TcahEJo=s96-c"
                    alt="Rocco Carbonaro"
                    referrerpolicy="no-referrer"
                    style="height: 100%; width: 100%; display: block;"
                  />
                </div> Rocco Carbonaro
              </div><span class="text-content-dimmed mx-0.5">•</span><span
                >Posted</span
              >Tue, Mar 4
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
