/* Global CSS Variables */

/* Light mode colors */
:root {
  --color-surface-bg: rgba(254, 245, 237, 1);
  --color-surface-bg-highlight: rgba(255, 255, 255, 0.9);
  --color-surface-base: rgba(255, 255, 255, 1);
  --color-surface-dimmed: rgba(249, 249, 249, 1);
  --color-surface-accent: rgba(251, 251, 251, 1);
  --color-surface-outline: rgba(211, 204, 189, 1);
  --color-surface-highlight: rgba(224, 242, 254, 0.4);

  --color-content-base: rgba(0, 0, 0, 0.95);
  --color-content-accent: rgba(0, 0, 0, 1);
  --color-content-dimmed: rgba(0, 0, 0, 0.6);
  --color-content-subtle: rgba(0, 0, 0, 0.3);
  --color-content-error: var(--color-red-500);

  --color-stroke-base: rgba(0, 0, 0, 0.1);
  --color-stroke-dimmed: rgba(0, 0, 0, 0.05);

  --color-link-base: var(--color-sky-700);
  --color-link-hover: var(--color-sky-600);

  --color-toggle-active: var(--color-sky-200);
  --color-stale-selection: var(--color-sky-100);

  --color-accent-1: rgba(49, 133, 255, 1);
  --color-accent-1-light: rgba(49, 133, 255, 0.8);

  --color-danger: var(--color-red-500);
  --color-danger-light: var(--color-red-400);
  --color-white-1: rgba(255, 255, 255, 1);

  --color-callout-info: var(--color-blue-50);
  --color-callout-info-icon: var(--color-blue-400);
  --color-callout-info-message: var(--color-blue-700);

  --color-callout-warning: var(--color-yellow-50);
  --color-callout-warning-icon: var(--color-yellow-400);
  --color-callout-warning-message: var(--color-yellow-700);

  --color-callout-error: var(--color-red-50);
  --color-callout-error-icon: var(--color-red-400);
  --color-callout-error-message: var(--color-red-700);

  --color-callout-success: var(--color-green-50);
  --color-callout-success-icon: var(--color-green-400);
  --color-callout-success-message: var(--color-green-700);

  /* Tailwind default colors needed for references */
  --color-sky-100: #e0f2fe;
  --color-sky-200: #bae6fd;
  --color-sky-400: #38bdf8;
  --color-sky-500: #0ea5e9;
  --color-sky-600: #0284c7;
  --color-sky-700: #0369a1;
  
  --color-blue-50: #eff6ff;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-700: #1d4ed8;
  --color-blue-900: #1e3a8a;
  
  --color-red-50: #fef2f2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-700: #b91c1c;
  --color-red-900: #7f1d1d;
  
  --color-yellow-50: #fefce8;
  --color-yellow-200: #fef08a;
  --color-yellow-300: #fde047;
  --color-yellow-400: #facc15;
  --color-yellow-700: #a16207;
  --color-yellow-900: #713f12;
  
  --color-green-50: #f0fdf4;
  --color-green-200: #bbf7d0;
  --color-green-300: #86efac;
  --color-green-400: #4ade80;
  --color-green-700: #15803d;
  --color-green-900: #14532d;
}

/* Dark mode colors */
.dark {
  --color-surface-bg: rgba(30, 30, 34, 1);
  --color-surface-bg-highlight: rgba(255, 255, 255, 0.1);
  --color-surface-base: rgba(35, 35, 39, 1);
  --color-surface-dimmed: rgba(30, 30, 34, 0.8);
  --color-surface-accent: rgba(255, 255, 255, 0.03);
  --color-surface-outline: rgba(60, 60, 64, 1);
  --color-surface-highlight: rgba(255, 255, 255, 0.03);

  --color-content-base: rgba(255, 255, 255, 0.9);
  --color-content-accent: rgba(255, 255, 255, 1);
  --color-content-dimmed: rgba(255, 255, 255, 0.6);
  --color-content-subtle: rgba(255, 255, 255, 0.3);
  --color-content-error: var(--color-red-500);

  --color-stroke-base: rgba(255, 255, 255, 0.1);
  --color-stroke-dimmed: rgba(255, 255, 255, 0.05);

  --color-link-base: var(--color-sky-500);
  --color-link-hover: var(--color-sky-400);

  --color-toggle-active: var(--color-sky-700);
  --color-stale-selection: var(--color-sky-900);

  --color-accent-1: rgba(49, 133, 255, 1);
  --color-accent-1-light: rgba(49, 133, 255, 0.8);

  --color-danger: var(--color-red-500);
  --color-danger-light: var(--color-red-400);
  --color-white-1: rgba(255, 255, 255, 1);

  --color-callout-info: var(--color-blue-900);
  --color-callout-info-icon: var(--color-blue-300);
  --color-callout-info-message: var(--color-blue-200);

  --color-callout-warning: var(--color-yellow-900);
  --color-callout-warning-icon: var(--color-yellow-300);
  --color-callout-warning-message: var(--color-yellow-200);

  --color-callout-error: var(--color-red-900);
  --color-callout-error-icon: var(--color-red-300);
  --color-callout-error-message: var(--color-red-200);

  --color-callout-success: var(--color-green-900);
  --color-callout-success-icon: var(--color-green-300);
  --color-callout-success-message: var(--color-green-200);

  /* Tailwind default colors needed for references */
  --color-sky-400: #38bdf8;
  --color-sky-500: #0ea5e9;
  --color-sky-700: #0369a1;
  --color-sky-900: #0c4a6e;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: var(--color-content-base);
  background: var(--color-surface-bg);
}

/* Overriding the default style from tailwind, as it doesn't work well with long words */
/* The word-break is needed in webkit browsers */
.break-words {
  word-break: break-word;
  overflow-wrap: break-word;
}
