version: "3"

#
# We will set up two services
#
# - app that runs our application. This will also be the container
#   where we will run all the development commands.
#
# - db that runs the main database for our application.
#

services:
  app:
    build:
      context: .
      args:
        - USER_ID
        - GROUP_ID
    user: ${USER_ID}:${GROUP_ID}
    volumes:
      - ./:/home/dev/app
    ports:
      - "4000:4000"
    depends_on:
      - db
      - screenshots-server
    environment:
      - DB_HOST=db
      - DB_USERNAME=postgres
      - DB_PASSWORD=keyboard-cat
    env_file:
      - .env

  db:
    image: postgres:14.5
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: keyboard-cat
      PGDATA: /var/lib/postgresql/data/pgdata
    restart: always
    volumes:
      - postgres-data:/var/lib/postgresql/data

  screenshots-server:
    image: python:3
    working_dir: "/screenshots"
    command: >
      sh -c "python -m http.server 8000"
    ports:
      - "8000:8000"
    volumes:
      - ./screenshots:/screenshots

volumes:
  postgres-data:
    driver: local
