<%= title(@headline) %>

<%= spacer() %>

<%= row do %>
  <%= @usage_summary %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= @impact_message %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, @cta_label) %>
<% end %>
