<%= title(OperatelyEmail.Emails.CommentAddedEmail.heading(@author, @comment_context)) %>

<%= spacer() %>

<%= row do %>
  <%= rich_text(@comment.content) %>
<% end %>

<%= spacer() %>
<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, gettext("View Comment")) %>
<% end %>
