<%= title("#{short_name(@author)} #{@action}") %>

<%= spacer() %>

<%= row do %>
  You now have access to <%= @company.name %> as a company member.
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@button_url, @button_text) %>
<% end %>
