<%= title(@headline) %>

<%= spacer() %>

<%= row do %>
  <%= gettext("You now have access to %{company_name} as a company member.", company_name: @company.name) %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@button_url, @button_text) %>
<% end %>
