<%= gettext("Your access level has been updated by %{author}.", author: short_name(@author)) %>

<%= gettext("Previous Access Level:") %> <%= @previous_access_level %>
<%= gettext("New Access Level:") %> <%= @updated_access_level %>

<%= gettext("Link:") %> <%= @link %>
