<%= title(gettext("Your admin privileges have been revoked by %{author}", author: short_name(@author))) %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, gettext("View Company")) %>
<% end %>
