<%= title("Daily summary from the last 24 hours") %>

<%= spacer() %>

<%= if Enum.empty?(@parent_groups) do %>
  <%= digest_empty_state("You're all caught up", "No new updates were posted in the last 24 hours.") %>
<% else %>
  <%= for group <- @parent_groups do %>
    <%= digest_group(group) %>
  <% end %>
<% end %>
