<%= title(gettext("%{author} commented on: %{title}", author: short_name(@author), title: @title)) %>

<%= spacer() %>

<%= row do %>
  <%= rich_text(@comment.content) %>
<% end %>

<%= spacer() %>
<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, gettext("View Comment")) %>
<% end %>
