<%= title(gettext("%{author} assigned you as the reviewer on %{goal_name}", author: short_name(@author), goal_name: @goal.name)) %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, gettext("View Goal")) %>
<% end %>
