<%= title(gettext("%{author} posted: %{title}", author: short_name(@author), title: @title)) %>

<%= spacer() %>

<%= row do %>
  <%= rich_text(@message) %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, gettext("View Discussion")) %>
<% end %>
