<%= title(gettext("%{author} acknowledged the check-in for %{goal_name}.", author: short_name(@author), goal_name: @goal.name)) %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, gettext("View Check-In")) %>
<% end %>
