<%= title(gettext("%{author} archived the %{goal_name} goal", author: short_name(@author), goal_name: @goal.name)) %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, gettext("View Archived Goal")) %>
<% end %>
