<%= title(gettext("%{author} changed the goal parent of %{goal_name}", author: short_name(@author), goal_name: @goal.name)) %>

<%= spacer() %>

<%= if @new_parent_goal do %>
  <%= row do %>
    <%= gettext("The parent goal of %{goal_name} was changed to %{new_parent_goal_name}", goal_name: @goal.name, new_parent_goal_name: @new_parent_goal.name) %>
  <% end %>
<% else %>
  <%= row do %>
    <%= gettext("The parent goal was removed from %{goal_name}", goal_name: @goal.name) %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, gettext("View Goal")) %>
<% end %>
