<%= title(gettext("%{author} edited the timeframe of the %{goal_name} goal", author: short_name(@author), goal_name: @goal.name)) %>

<%= spacer() %>

<%= row do %>
  <%= gettext("Old timeframe: %{old_start_date} → %{old_end_date}", old_start_date: Date.to_string(@old_timeframe.start_date), old_end_date: Date.to_string(@old_timeframe.end_date)) %>
<% end %>

<%= row do %>
  <%= gettext("New timeframe: %{new_start_date} → %{new_end_date}", new_start_date: Date.to_string(@new_timeframe.start_date), new_end_date: Date.to_string(@new_timeframe.end_date)) %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= rich_text(@message) %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, gettext("View/Comment")) %>
<% end %>
