<%= gettext("%{author} updated the description for \"%{goal_name}\".", author: short_name(@author), goal_name: @goal_name) %>

<%= if @description do %>
<%= gettext("View the goal to read the updated details.") %>
<% else %>
<%= gettext("The description was cleared.") %>
<% end %>

<%= gettext("View Goal: %{url}", url: @cta_url) %>
