<%= title("#{short_name(@author)} posted: #{@title}") %>

<%= spacer() %>

<%= row do %>
  <%= rich_text(@message) %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, "View Discussion") %>
<% end %>
