<%= gettext("%{author} invited you as an outside collaborator to %{company_name}.", author: short_name(@author), company_name: @company.name) %>

<%= gettext("You now have access to %{company_name} as an outside collaborator.", company_name: @company.name) %>

<%= gettext("Log in to Operately:") %> <%= @login_url %>
