<%= title("#{short_name(@author)} invited you as an outside collaborator to #{@company.name}") %>

<%= spacer() %>

<%= row do %>
  You now have access to <%= @company.name %> as an outside collaborator.
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@login_url, "Log in to Operately") %>
<% end %>
