<%= gettext("%{author} updated the description for \"%{milestone_name}\".", author: short_name(@author), milestone_name: @milestone_name) %>

<%= if @description do %>
<%= gettext("View the milestone to read the updated details.") %>
<% else %>
<%= gettext("The description was cleared.") %>
<% end %>

<%= gettext("View Milestone: %{url}", url: @cta_url) %>
