<%= title(gettext("%{author} updated the description for \"%{milestone_name}\"", author: short_name(@author), milestone_name: @milestone_name)) %>

<%= spacer() %>

<%= if @description do %>
  <%= row do %>
    <%= rich_text(@description) %>
  <% end %>
<% else %>
  <%= row do %>
    <%= gettext("The description was cleared.") %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, gettext("View Milestone")) %>
<% end %>
