<%= if @reviewer == nil do %>
  <%= title(gettext("%{author} removed the reviewer on %{project_name}", author: short_name(@author), project_name: @project.name)) %>
<% else %>
  <%= if @reviewer.id == @person.id do %>
    <%= title(gettext("%{author} assigned you as the reviewer on %{project_name}", author: short_name(@author), project_name: @project.name)) %>
  <% else %>
    <%= title(gettext("%{author} assigned %{reviewer} as the reviewer on %{project_name}", author: short_name(@author), reviewer: short_name(@reviewer), project_name: @project.name)) %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, gettext("View Project")) %>
<% end %>
