<%= title(gettext("%{author} commented on the retrospective for the %{project_name} project", author: short_name(@author), project_name: @project.name)) %>

<%= spacer() %>

<%= row do %>
  <%= rich_text(@comment.content) %>
<% end %>

<%= row do %>
  <%= cta_button(@cta_url, @cta_text) %>
<% end %>
