<%= gettext("%{author} created the %{project_name} project and assigned you as the %{role}.", author: short_name(@author), project_name: @project.name, role: @role) %>

<%= gettext("Link: %{url}", url: @link) %>
