<%= title(gettext("%{author} submitted a check-in", author: short_name(@author))) %>

<%= spacer() %>

<%= title(gettext("Overview"), font_size: "16") %>

<%= row do %>
  <%= rich_text(@overview) %>
<% end %>

<%= spacer() %>

<%= title(gettext("Check-in notes"), font_size: "16") %>

<%= row do %>
  <%= rich_text(@check_in.description) %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, @cta_text) %>
<% end %>
