<%= title(gettext("%{author} created the %{milestone_title} milestone", author: short_name(@author), milestone_title: @milestone.title)) %>

<%= spacer() %>

<%= row do %>
  <%= gettext("A new milestone was added to %{project_name}.", project_name: @project.name) %>
<% end %>

<%= if @due_date do %>
  <%= spacer() %>
  <%= row do %>
    <%= gettext("It is scheduled for %{due_date}.", due_date: @due_date) %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, gettext("View Milestone")) %>
<% end %>
