<%= title(gettext("%{author} added you as a %{role} on %{project_name}", author: short_name(@author), role: @role, project_name: @project.name)) %>

<%= spacer() %>

<%= @responsibility %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, gettext("View Project")) %>
<% end %>
