<%= if @champion == nil do %>
  <%= title(gettext("%{author} removed the champion on %{project_name}", author: short_name(@author), project_name: @project.name)) %>
<% else %>
  <%= if @champion.id == @person.id do %>
    <%= title(gettext("%{author} assigned you as the champion on %{project_name}", author: short_name(@author), project_name: @project.name)) %>
  <% else %>
    <%= title(gettext("%{author} assigned %{champion} as the champion on %{project_name}", author: short_name(@author), champion: short_name(@champion), project_name: @project.name)) %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, gettext("View Project")) %>
<% end %>
