<%= title(gettext("%{author} updated the \"%{project_name}\" project description", author: short_name(@author), project_name: @project_name)) %>

<%= spacer() %>

<%= if @description do %>
  <%= row do %>
    <%= rich_text(@description) %>
  <% end %>
<% else %>
  <%= row do %>
    <%= gettext("The description was cleared.") %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, gettext("View Project")) %>
<% end %>
