<%= if @new_date do %>
  <%= if @previous_date do %>
    <%= title(gettext("%{author} changed the due date for %{project_name}", author: short_name(@author), project_name: @project.name)) %>
  <% else %>
    <%= title(gettext("%{author} set the due date for %{project_name}", author: short_name(@author), project_name: @project.name)) %>
  <% end %>
<% else %>
  <%= title(gettext("%{author} removed the due date for %{project_name}", author: short_name(@author), project_name: @project.name)) %>
<% end %>

<%= spacer() %>

<%= if @new_date do %>
  <%= if @previous_date do %>
    <%= row do %>
      <%= gettext("The due date was changed from %{previous_date} to %{new_date}.", previous_date: @previous_date, new_date: @new_date) %>
    <% end %>
  <% else %>
    <%= row do %>
      <%= gettext("The due date is now %{new_date}.", new_date: @new_date) %>
    <% end %>
  <% end %>
<% else %>
  <%= row do %>
    <%= if @previous_date do %>
      <%= gettext("The due date was removed. Previously it was %{previous_date}.", previous_date: @previous_date) %>
    <% else %>
      <%= gettext("The due date was removed.") %>
    <% end %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, gettext("View Project")) %>
<% end %>
