<%= title(gettext("%{author} added the %{project_name} project", author: short_name(@author), project_name: @project.name)) %>

<%= spacer() %>

<%= if @author_role do %>
  <%= row do %>
    <%= gettext("- %{author} is a %{author_role}", author: short_name(@author), author_role: @author_role) %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, gettext("View Project")) %>
<% end %>
