<%= if @new_date do %>
  <%= if @previous_date do %>
<%= gettext("%{author} changed the due date for %{project_name} from %{previous_date} to %{new_date}.", author: short_name(@author), project_name: @project.name, previous_date: @previous_date, new_date: @new_date) %>
  <% else %>
<%= gettext("%{author} set the due date for %{project_name} to %{new_date}.", author: short_name(@author), project_name: @project.name, new_date: @new_date) %>
  <% end %>
<% else %>
  <%= if @previous_date do %>
<%= gettext("%{author} removed the due date for %{project_name}. It was previously %{previous_date}.", author: short_name(@author), project_name: @project.name, previous_date: @previous_date) %>
  <% else %>
<%= gettext("%{author} removed the due date for %{project_name}.", author: short_name(@author), project_name: @project.name) %>
  <% end %>
<% end %>

<%= gettext("Link: %{url}", url: @cta_url) %>
