<%= title("#{short_name(@author)} added the #{@project.name} project") %>

<%= spacer() %>

<%= if @author_role do %>
  <%= row do %>
    - <%= short_name(@author) %> is a <%= @author_role %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, "View Project") %>
<% end %>
