<%= gettext("%{author} created the %{milestone_title} milestone for %{project_name}.", author: short_name(@author), milestone_title: @milestone.title, project_name: @project.name) %>
<%= if @due_date do %>
<%= gettext("It is scheduled for %{due_date}.", due_date: @due_date) %>
<% end %>

<%= gettext("Link: %{url}", url: @cta_url) %>
