<%= title(gettext("%{author} added you as a contributor on %{project_name}", author: short_name(@author), project_name: @project.name)) %>

<%= spacer() %>

<%= if @responsibility, do: gettext("Your responsibility is: %{responsibility}", responsibility: @responsibility) %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, gettext("View Project")) %>
<% end %>
