<%= gettext("%{author} updated the \"%{project_name}\" project description.", author: short_name(@author), project_name: @project_name) %>

<%= if @description do %>
<%= gettext("View the project to read the updated details.") %>
<% else %>
<%= gettext("The description was cleared.") %>
<% end %>

<%= gettext("View Project: %{url}", url: @cta_url) %>
