<%= gettext("%{author} connected the %{project_name} project to the %{goal_name} goal", author: short_name(@author), project_name: @project.name, goal_name: @goal.name) %>

<%= gettext("Link: %{url}", url: @link) %>
