<%= title(gettext("Reset your password")) %>

<%= spacer() %>

<%= row do %>
  <%= gettext("We received a request to reset the password for your account.") %>
  <%= gettext("Visit the link below to reset your password.") %>
<% end %>

<%= spacer() %>

<%= row do %>
  <a href="<%= @reset_url %>"><%= gettext("Reset password") %></a>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= gettext("The link will expire in 24 hours for security reasons.") %>
<% end %>
