<%= OperatelyEmail.Emails.ResourceHubFileCreatedEmail.heading(@author, @files) %>

<%= if length(@files) == 1 do %>
    <%= gettext("Link:") %> <%= @file_url %>
<% else %>
    <%= gettext("Link:") %> <%= @cta_url %>
<% end %>
