<%= title(gettext("%{author} deleted a document: %{document_name}", author: short_name(@author), document_name: @document.name)) %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, gettext("View Resource Hub")) %>
<% end %>
