<%= title(gettext("%{author} updated the document: %{document_name}", author: short_name(@author), document_name: @document.name)) %>

<%= spacer() %>

<%= row do %>
  <%= rich_text(@content) %>
<% end %>

<%= spacer() %>
<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, gettext("View Document")) %>
<% end %>
