<%= title(gettext("%{author} deleted a link: %{link_name}", author: short_name(@author), link_name: @link.name)) %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, gettext("View Resource Hub")) %>
<% end %>
