<%= title(gettext("%{author} edited a link: %{link_name}", author: short_name(@author), link_name: @link.name)) %>

<%= spacer() %>

<%= row do %>
  <%= @link.name %>
<% end %>
<%= row do %>
  <%= @link.url %>
<% end %>

<%= spacer() %>
<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, gettext("View Link")) %>
<% end %>
