<%= if @copied_document do %>
  <%= title("#{short_name(@author)} created a copy of #{@copied_document.name} and named it #{@document.name}") %>
<% else %>
  <%= title("#{short_name(@author)} added a document: #{@document.name}") %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= rich_text(@document.content) %>
<% end %>

<%= spacer() %>
<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, "View Document") %>
<% end %>
