<%= if @copied_document do %>
  <%= title(gettext("%{author} created a copy of %{original_name} and named it %{document_name}", author: short_name(@author), original_name: @copied_document.name, document_name: @document.name)) %>
<% else %>
  <%= title(gettext("%{author} added a document: %{document_name}", author: short_name(@author), document_name: @document.name)) %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= rich_text(@document.content) %>
<% end %>

<%= spacer() %>
<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, gettext("View Document")) %>
<% end %>
