<%= if @assigned_to_recipient do %>
  <%= title(gettext("%{author} assigned you the task %{name}", author: short_name(@author), name: @name)) %>
<% else %>
<%= if @removed_from_recipient do %>
  <%= title(gettext("%{author} removed you from the task %{name}", author: short_name(@author), name: @name)) %>
<% else %>
  <%= if @new_assignee do %>
  <%= title(gettext("%{author} changed the assignees for %{name}", author: short_name(@author), name: @name)) %>
  <% else %>
    <%= title(gettext("%{author} removed assignees for %{name}", author: short_name(@author), name: @name)) %>
  <% end %>
<% end %>
<% end %>

<%= spacer() %>

<%= if @assigned_to_recipient do %>
  <%= row do %>
    <%= gettext("You are now assigned to this task.") %>
  <% end %>
<% else %>
<%= if @removed_from_recipient do %>
  <%= row do %>
    <%= gettext("You are no longer assigned to this task.") %>
  <% end %>
<% else %>
  <%= if @new_assignee do %>
    <%= if @old_assignee do %>
      <%= row do %>
        <%= gettext("The assignee was changed from %{old_assignee} to %{new_assignee}", old_assignee: short_name(@old_assignee), new_assignee: short_name(@new_assignee)) %>
      <% end %>
    <% else %>
      <%= row do %>
        <%= gettext("The assignee is now %{new_assignee}", new_assignee: short_name(@new_assignee)) %>
      <% end %>
    <% end %>
  <% else %>
    <%= row do %>
      <%= if @old_assignee do %>
        <%= gettext("The assignee was removed. Previously it was %{old_assignee}", old_assignee: short_name(@old_assignee)) %>
      <% else %>
        <%= gettext("The task assignees were changed.") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, gettext("View Task")) %>
<% end %>
