<%= gettext("%{author} moved %{task_name}.", author: short_name(@author), task_name: @task_name) %>

<%= gettext("The task is now in %{destination_name}.", destination_name: @destination_name) %>

<%= gettext("Link: %{url}", url: @cta_url) %>
