<%= if @assigned_to_recipient do %>
<%= gettext("%{author} assigned you the task %{name}.", author: short_name(@author), name: @name) %>

<%= gettext("You are now assigned to this task.") %>
<% else %>
<%= if @removed_from_recipient do %>
<%= gettext("%{author} removed you from the task %{name}.", author: short_name(@author), name: @name) %>

<%= gettext("You are no longer assigned to this task.") %>
<% else %>
<%= gettext("%{author} changed the assignees for %{name}.", author: short_name(@author), name: @name) %>
<% end %>
<% end %>

<%= gettext("Link: %{url}", url: @cta_url) %>
