<%= if @new_date do %>
  <%= title(gettext("%{author} changed the due date for %{name}", author: short_name(@author), name: @name)) %>
<% else %>
  <%= title(gettext("%{author} removed the due date for %{name}", author: short_name(@author), name: @name)) %>
<% end %>

<%= spacer() %>

<%= if @new_date do %>
  <%= if @previous_date do %>
    <%= row do %>
      <%= gettext("The due date was changed from %{previous_date} to %{new_date}.", previous_date: @previous_date, new_date: @new_date) %>
    <% end %>
  <% else %>
    <%= row do %>
      <%= gettext("The due date is now %{new_date}.", new_date: @new_date) %>
    <% end %>
  <% end %>
<% else %>
  <%= row do %>
    <%= gettext("The due date was removed. Previously it was %{previous_date}.", previous_date: @previous_date) %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, gettext("View Task")) %>
<% end %>
