<%= if @assigned_to_recipient do %>
<%= short_name(@author) %> assigned you the task <%= @name %>.

You are now assigned to this task.
<% else %>
<%= if @removed_from_recipient do %>
<%= short_name(@author) %> removed you from the task <%= @name %>.

You are no longer assigned to this task.
<% else %>
<%= short_name(@author) %> changed the assignees for <%= @name %>.
<% end %>
<% end %>

Link: <%= @cta_url %>
