<%= title("#{short_name(@author)} #{@action}") %>

<%= spacer() %>

<%= row do %>
  <%= if @mentioned do %>
    You were mentioned in the description for <%= @task_name %>.
  <% else %>
    A new task named <%= @task_name %> was created in this project.
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, "View Task") %>
<% end %>
