<%= if @mentioned do %>
  <%= gettext("%{author} mentioned you in the description for \"%{task_name}\".", author: short_name(@author), task_name: @task_name) %>
<% else %>
  <%= gettext("%{author} updated the description for \"%{task_name}\".", author: short_name(@author), task_name: @task_name) %>
<% end %>

<%= if @description do %>
<%= Operately.MD.RichText.render(@description) %>

<% else %>
<%= gettext("The description was cleared.") %>

<% end %>
<%= gettext("Link: %{url}", url: @cta_url) %>
