<%= title(gettext("%{author} moved %{task_name}", author: short_name(@author), task_name: @task_name)) %>

<%= spacer() %>

<%= row do %>
  <%= gettext("The task is now in %{destination_name}.", destination_name: @destination_name) %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, gettext("View Task")) %>
<% end %>
