<.header>
  Person <%= @person.id %>
  <:subtitle>This is a person record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/people/#{@person}/edit"}>
      <.button>Edit person</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Full name"><%= @person.full_name %></:item>
  <:item title="Handle"><%= @person.handle %></:item>
  <:item title="Title"><%= @person.title %></:item>
</.list>

<.back navigate={~p"/people"}>Back to people</.back>
