<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;" class="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <title>Operately</title>

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <link rel="icon" href="/favicon.svg" type="image/svg+xml">

    <%= disable_react_devtools() %>
    <%= inject_app_config(@app_config) %>
    <%= load_js_application() %>
  </head>

  <body class="antialiased overscroll-none" style="">
    <div id="root">
      <!-- This is where the app will be mounted -->
    </div>
  </body>
</html>
