<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;" class="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <title>Operately</title>

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <link rel="icon" href="/favicon.svg" type="image/svg+xml">

    <!-- 
      Disable the React DevTools warning, because they would otherwise
      show up in the console when the app is running in test mode.
    -->
    <script>
      (function() {
        var info = console.info

        console.info = function (message) {
          if (!/Download the React DevTools/.test(message)) info.apply(console, arguments)
        }
      })()
    </script>

    <!-- 
      Inject the app config into the page. This is used by the app to
      configure itself at runtime. The config is passed to the app
      as a global variable, so it can be accessed from anywhere in the
      app.
    -->
    <script>
      window.appConfig = <%= Jason.encode!(@app_config) |> Phoenix.HTML.raw() %>
    </script>

    <!-- 
      Load the app's JavaScript. There are two separate strategies for
      loading the JavaScript:

      1. Development strategy: Used in development mode or in local test mode (non-CI).
         JavaScript is loaded from the local Vite server, which allows for hot reloading
         and other development features.

      2. Production strategy: Used in production or in CI test environments.
         JavaScript is loaded from the static assets that are built by Vite.
    -->
    <%= if OperatelyWeb.PageController.development_mode?() do %>
      <script type="module">
        import RefreshRuntime from '<%= @vite_url %>/@react-refresh'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
      </script>

      <script type="module" src={"#{@vite_url}/@vite/client"}></script>
      <script type="module" src={"#{@vite_url}/assets/js/app.tsx"}></script>
    <% else %>
      <%= for asset_path <- css_files() do %>
        <link rel="stylesheet" href={asset_path} />
      <% end %>
      <%= for asset_path <- js_files() do %>
        <script type="module" src={asset_path}></script>
      <% end %>
    <% end %>
  </head>

  <body class="antialiased overscroll-none" style="">
    <div id="root">
      <!-- This is where the app will be mounted -->
    </div>
  </body>
</html>
