---
import type { BreadcrumbItem } from "../../types/astro";

interface Props {
  items?: BreadcrumbItem[];
}

const { items = [] } = Astro.props;
---

<div class="bg-surface-dimmed flex items-center flex-wrap justify-center gap-1 pt-2 pb-1 mx-0 sm:mx-10 font-semibold rounded-t border-b sm:border-b-0 sm:border-t sm:border-x border-surface-outline">
  {items.map((item, index) => (
    <>
      <a
        class="cursor-pointer transition-colors underline underline-offset-2 text-link-base hover:text-link-hover"
        href={item.href}
      >
        <span class="flex items-center gap-1.5">{item.label}</span>
      </a>
      
      {index < items.length - 1 && (
        <div class="shrink-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="tabler-icon tabler-icon-slash"
          >
            <path d="M17 5l-10 14"></path>
          </svg>
        </div>
      )}
    </>
  ))}
</div>
