@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./nprogress";
@import "./prosemirror";
@import "./reactdatepicker.css";
@import "./reactdatepicker-custom.css";

@import "./animations.css";
@import "./lineclamp.css";

.h-full {
  height: 100%;
}

:focus-visible {
  outline: none;
}

body[data-theme="light"] {
  --color-base: rgba(247, 244, 237, 1);

  --color-surface: rgba(255, 255, 255, 1);
  --color-surface-dimmed: rgba(249, 249, 249, 1);
  --color-surface-accent: rgba(249, 249, 249, 0.6);
  --color-surface-outline: rgba(211, 204, 189, 1);
  --color-surface-highlight: rgba(224, 242, 254, 0.4);

  --color-content-base: rgba(0, 0, 0, 0.95);
  --color-content-accent: rgba(0, 0, 0, 1);
  --color-content-dimmed: rgba(0, 0, 0, 0.6);
  --color-content-subtle: rgba(0, 0, 0, 0.3);

  --color-stroke-base: rgba(0, 0, 0, 0.1);

  --color-link-base: var(--color-sky-700);
  --color-link-hover: var(--color-sky-600);

  --color-toggle-active: var(--color-sky-200);

  --color-accent-1: rgba(37, 155, 105, 1);
}

body[data-theme="dark"] {
  --color-base: rgba(30,30,34,1);

  --color-surface: rgba(35,35,39,1);
  --color-surface-dimmed: rgba(30, 30, 34, 0.8);
  --color-surface-accent: rgba(255, 255, 255, 0.03);
  --color-surface-outline: rgba(60,60,64,1);
  --color-surface-highlight: rgba(255, 255, 255, 0.03);

  --color-content-base: rgba(255, 255, 255, 0.9);
  --color-content-accent: rgba(255, 255, 255, 1);
  --color-content-dimmed: rgba(255, 255, 255, 0.6);
  --color-content-subtle: rgba(255, 255, 255, 0.3);

  --color-stroke-base: rgba(255, 255, 255, 0.1);

  --color-link-base: var(--color-sky-500);
  --color-link-hover: var(--color-sky-400);

  --color-toggle-active: var(--color-sky-700);

  --color-accent-1: rgba(37, 155, 105, 1);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;

  color: var(--color-content-base);
  background: var(--color-base);
}
