@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./nprogress";
@import "./prosemirror";

/* This file is for your main application CSS */

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes ping {
  10% {
    transform: scale(1);
    opacity: 1;
  }

  20% {
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeInAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.animate-notify {
  animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  min-height: 100vh;

  background: var(--color-dark-1);
  color: rgba(255, 255, 255, 0.9);
}

.card-shadow {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.07);
}

.hover\:card-shadow-blue:hover {
  box-shadow: 0px 0px 12px rgba(49, 133, 255, 0.2);
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
