@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./nprogress";
@import "./prosemirror";
@import "./reactdatepicker.css";
@import "./reactdatepicker-custom.css";

@import "./animations.css";
@import "./lineclamp.css";

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;

  background: var(--color-dark-1);
  color: rgba(255, 255, 255, 0.9);
}

.h-full {
  height: 100%;
}
