.ProseMirror {
  word-break: break-word;
}

.ProseMirror.dragover {
  position: relative;
}

.ProseMirror.dragover::after {
  content: "Drop your files to add them";
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
  color: var(--color-accent-1);
  border: 2px dashed var(--color-accent-1);
  background-color: rgba(0,255,0,0.1);
  padding-bottom: 1em;
}

.ProseMirror hr {
  height: 1px;
  background-color: var(--color-stroke-base);
  border: none;
  width: 50px !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.ProseMirror a {
  color: var(--color-link-base);
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.ProseMirror > ul:first-child, ul:last-child, ol:first-child, ol:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

.ProseMirror ul {
  padding: 0;
  padding-left: 1.5em;
  list-style: unset;
  margin-bottom: 1em;
  margin-top: 1em;
}

.ProseMirror li {
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

.ProseMirror li ul {
  padding: 0;
  padding-left: 1.5em;
  list-style: unset;
  margin-bottom: 0em;
  margin-top: 0em;
}

.ProseMirror ol {
  padding: 0;
  padding-left: 36px;
  list-style: auto;
  margin-top: 0px;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  margin-bottom: 12px;
  padding-bottom: 6px;
  font-weight: 800;
}

.ProseMirror code {
  background-color: var(--color-surface-dimmed);
  color: var(--color-content-accent);
}
.ProseMirror pre {
  background: var(--color-surface-dimmed);
  color: var(--color-content-accent);
  font-family: monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.ProseMirror img {
  max-width: 100%;
  height: auto;
}
.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}
.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: var(--color-content-dimmed);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror h3 {
  /* font-size: 1.2rem; */
  /* font-weight: 700; */
  /* margin-bottom: 1rem; */
  /* color: var(--color-brand-1); */
}

.ProseMirror [data-type="mention"] {
  font-weight: 500;
  color: var(--color-accent-1);
}

.ProseMirror blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1rem;
  border-left: 3px solid var(--color-content-accent);
}

.ProseMirror .blob-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  max-width: 80%;
  color: var(--color-content-dimmed);
}

.ProseMirror .blob-container .footer {
  text-align: center;
  color: var(--color-content);
  font-size: 14px;
  font-weight: 500;
  margin-top: 3px;
}

.ProseMirror .blob-container img {
  border: 1px solid var(--color-stroke-base);
  border-radius: 0.5em;
  overflow: hidden;
}

.ProseMirror .blob-container a {
  color: var(--color-content);
  text-decoration: underline;
}
