.ProseMirror {
  word-break: break-word;
}

.ProseMirror hr {
  height: 1px;
  background-color: var(--color-dark-8);
  border: none;
  width: 50px !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.ProseMirror a {
  color: var(--color-sky-400);
  text-decoration: underline;
}

.ProseMirror ul {
  padding: 0;
  padding-left: 36px;
  list-style: unset;
  margin-top: 0px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.ProseMirror li {
  margin-bottom: 6px;
  margin-top: 6px;
}

.ProseMirror ol {
  padding: 0;
  padding-left: 36px;
  list-style: auto;
  margin-top: 0px;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  margin-bottom: 12px;
  padding-bottom: 6px;
  font-weight: 800;
}

.ProseMirror code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}
.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.ProseMirror img {
  max-width: 100%;
  height: auto;
}
.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}
.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror h3 {
  /* font-size: 1.2rem; */
  /* font-weight: 700; */
  /* margin-bottom: 1rem; */
  /* color: var(--color-brand-1); */
}

.ProseMirror p + p {
  margin-top: 1rem;
}

.ProseMirror [data-type="mention"] {
  color: var(--color-brand-1);
  font-weight: 700;
}
