.react-datepicker-wrapper {
  display: block;
}

.react-datepicker-popper {
  z-index: 1000 !important;
}

.react-datepicker {
  font-family: unset;
  color: var(--color-content-base);
  border: unset;
  background-color: transparent;
}

.react-datepicker__triangle::after,
.react-datepicker__triangle::before {
  display: none;
  border-bottom-color: var(--color-dark-3) !important;
}

.react-datepicker__header {
  background-color: transparent;
  color: var(--color-content-base);
  border: unset;
  padding-bottom: 0;
  font-weight: 400;
}

.react-datepicker__month {
  margin: 0 !important;
}

.react-datepicker__current-month,
.react-datepicker__day-names {
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: var(--color-content-base);
  font-weight: 400;
}

.react-datepicker__day {
  color: var(--color-content-base);
  border-radius: 100% !important;
}

.react-datepicker__day:hover {
  background-color: var(--color-surface-highlight);
}

.react-datepicker__day--outside-month {
  color: var(--color-content-subtle);
}

.react-datepicker__day--selected,
.react-datepicker__day--selected:hover {
  border-radius: 100%;
  background-color: var(--color-accent-1);
  font-weight: 600;
  color: var(--color-white-1);
}

.react-datepicker__day--in-range {
  background-color: var(--color-accent-1);
  color: var(--color-white-1);
  font-weight: 600;
}

.react-datepicker__day--keyboard-selected {
  border-radius: 100%;
  background-color: var(--color-accent-1);
  font-weight: 600;
  color: var(--color-white-1);
}

.react-datepicker__day--keyboard-selected:hover {
  border-radius: 100%;
  background-color: var(--color-accent-1);
  font-weight: 900;
  color: var(--color-white-1);
}

.react-datepicker__navigation--previous {
  top: 9px !important;
}

.react-datepicker__navigation--next {
  top: 9px !important;
}

.react-datepicker__input-container {
  display: block;
  width: 100%;
}

.react-datepicker__input-container input {
  background: var(--color-shade-3);
  color: var(--color-white-1);
  border: unset;
  border-radius: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.react-datepicker__input-container input::placeholder {
  color: var(--color-content-subtle);
}

.react-datepicker__day--disabled {
  color: var(--color-content-subtle);
  text-decoration: line-through;
}

.react-datepicker__day--disabled:hover {
  background-color: transparent;
}

.react-datepicker__quarter-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.react-datepicker__quarter-text {
  display: block;
  border-radius: 0.2rem;
  margin: 0 !important;
  width: 100% !important;
  background-color: var(--color-surface-dimmed);
}

.react-datepicker__quarter-text--selected {
  background-color: var(--color-accent-1);
  color: var(--color-white-1);
}

.react-datepicker__quarter-text.react-datepicker__quarter-text--selected:hover {
  background-color: var(--color-accent-1);
  color: var(--color-white-1);
}

.react-datepicker__quarter-text:hover {
  background-color: var(--color-surface-highlight);
}
