.ProseMirror a {
  color: var(--color-link-base);
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.ProseMirror > ul:first-child, 
.ProseMirror > ul:last-child, 
.ProseMirror > ol:first-child, 
.ProseMirror > ol:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

.ProseMirror ul {
  padding: 0;
  padding-left: 1.5em;
  list-style: unset;
  margin-bottom: 1em;
  margin-top: 1em;
}

.ProseMirror li {
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

.ProseMirror li ul {
  padding: 0;
  padding-left: 1.5em;
  list-style: unset;
  margin-bottom: 0em;
  margin-top: 0em;
}

.ProseMirror ol {
  padding: 0;
  padding-left: 36px;
  list-style: auto;
  margin-top: 0px;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  margin-bottom: 12px;
  padding-bottom: 6px;
  font-weight: 800;
}

.ProseMirror code {
  background-color: var(--color-surface-dimmed);
  color: var(--color-content-accent);
  font-size: 1rem !important;
}

.ProseMirror pre {
  background: var(--color-surface-dimmed);
  color: var(--color-content-accent);
  font-family: monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror .blob-container .footer {
  text-align: center;
  color: var(--color-content);
  font-size: 14px;
  font-weight: 500;
  margin-top: 3px;
}

.ProseMirror .blob-container img {
  border: 1px solid var(--color-stroke-base);
  border-radius: 0.5em;
  overflow: hidden;
}

.ProseMirror .blob-container a {
  color: var(--color-content);
  text-decoration: underline;
}

/* Highlighting text in ProseMirror */
.ProseMirror mark[data-highlight="unset"] {
  color: var(--color-content-base);
  background-color: transparent !important;
}

.light body .ProseMirror mark[data-highlight="textYellow"] {
  color: var(--color-yellow-500); 
  background-color: transparent;
}

.light body .ProseMirror mark[data-highlight="textOrange"] {
  color: var(--color-orange-500);
  background-color: transparent;
}

.light body .ProseMirror mark[data-highlight="textRed"] {
  color: var(--color-red-500);
  background-color: transparent;
}

.light body .ProseMirror mark[data-highlight="textPurple"] {
  color: var(--color-purple-500);
  background-color: transparent;
}

.light body .ProseMirror mark[data-highlight="textBlue"] {
  color: var(--color-blue-500);
  background-color: transparent;
}

.light body .ProseMirror mark[data-highlight="textGreen"] {
  color: var(--color-green-500);
  background-color: transparent;
}

.light body .ProseMirror mark[data-highlight="bgYellow"] {
  background-color: var(--color-yellow-200);
}

.light body .ProseMirror mark[data-highlight="bgOrange"] {
  background-color: var(--color-orange-200);
}

.light body .ProseMirror mark[data-highlight="bgRed"] {
  background-color: var(--color-red-200);
}

.light body .ProseMirror mark[data-highlight="bgPurple"] {
  background-color: var(--color-purple-200);
}

.light body .ProseMirror mark[data-highlight="bgBlue"] {
  background-color: var(--color-blue-200);
}

.light body .ProseMirror mark[data-highlight="bgGreen"] {
  background-color: var(--color-green-200);
}