---
import BaseLayout from "./BaseLayout.astro";
import NavigationBar from "../components/Navigation/NavigationBar.astro";
import Breadcrumbs from "../components/Navigation/Breadcrumbs.astro";
import type { StandardLayoutProps } from "../types/astro";

type Props = StandardLayoutProps;

const { 
  title = "Operately BPRD",
  showBreadcrumbs = true,
  breadcrumbItems = []
} = Astro.props;
---

<BaseLayout title={title}>
  <div class="flex flex-col h-screen">
    <NavigationBar />
    
    <div class="flex-1 overflow-y-auto bg-surface-dimmed">
      <div class="mx-auto relative sm:my-10 sm:max-w-[90%] lg:max-w-5xl">
        {showBreadcrumbs && (
          <Breadcrumbs items={breadcrumbItems} />
        )}
        
        <div class="relative bg-surface-base px-4 sm:px-12 py-10 min-h-dvh sm:min-h-0 sm:border sm:border-surface-outline sm:rounded-lg sm:shadow-xl">
          <slot />
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
