<%= title("#{short_name(@author)} posted: #{@title}") %>

<%= spacer() %>

<%= row do %>
  <%= rich_text(@discussion.content["body"]) %>
<% end %>

<%= row do %>
  <%= cta_button(OperatelyEmail.discussion_url(@space.id, @discussion.id), "View Discussion") %>
<% end %>
