<%= title("#{short_name(@author)} acknowledged your check-in for #{@goal.name} goal") %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(OperatelyEmail.goal_check_in_url(@goal.id, @update.id), "View Check-In") %>
<% end %>
