<%= title("#{short_name(@author)} submitted a check-in for the #{@project.name} project") %>

<%= spacer() %>

<%= row do %>
  <%= rich_text(@update.content["message"]) %>
<% end %>

<%= row do %>
  <%= cta_button(OperatelyEmail.project_status_update_url(@project.id, @update.id), "View Update") %>
<% end %>
