<html>
  <head>
    <title><%= @title %></title>
    <style>
      body {
        font-family: sans-serif;
      }

      h1 {
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <div style="padding: 10px 20px;">
      <table width="100%" style="background:#fff;margin:0;padding:0;border:0;border-collapse:collapse;border-spacing:0; max-width: 40em">
        <tr style="font-size: 22px; font-family: sans-serif; font-weight: 800;">
          <td>
            <%= @author %> commented on a status update on <%= @project.name %>
          </td>
        </tr>

        <tr style="height: 20px">
          <td></td>
        </tr>

        <tr style="height: 20px">
          <td>
            <%= Prosemirror2Html.convert(Jason.decode!(@comment.content["message"])) %>
          </td>
        </tr>

        <tr style="height: 20px">
          <td><%= cta_button(@cta_url, "View Comment") %></td>
        </tr>
      </table>
    </div>
  </body>
</html>
