<html>
  <%= head(@title) %>

  <%= body do %>
    <%= title("#{@author} changed the timeline for #{@project.name}") %>

    <%= spacer() %>

    <%= if @duration_changed && @old_duration == :undefined do %>
      <%= row do %>
        The duration is now <%= @new_duration %>.
      <% end %>
    <% end %>

    <%= if @duration_changed && @old_duration != :undefined do %>
      <%= row do %>
        The duration was changed from <%= @old_duration %> to <%= @new_duration %>.
      <% end %>
    <% end %>

    <%= if Enum.any?(@new_milestones) do %>
      <%= row do %>
        New milestones added:
      <% end %>

      <%= for milestone <- @new_milestones do %>
        <%= row do %>
          - <%= milestone.title %>
        <% end %>
      <% end %>
    <% end %>

    <%= spacer() %>

    <%= row do %>
      <%= cta_button(@cta_url, "View Project") %>
    <% end %>
  <% end %>
</html>
