<%= title("#{short_name(@author)} closed the #{@project.name} project and submitted a retrospective") %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(OperatelyEmail.project_retrospective_url(@project.id), "View Retrospective") %>
<% end %>
