<html>
  <%= head(@subject) %>

  <%= body do %>
    <%= title("#{short_name(@author)} archived the #{@project.name} project") %>

    <%= spacer() %>

    <%= row do %>
      <%= cta_button(OperatelyEmail.project_url(@project.id), "View Archived Project") %>
    <% end %>
  <% end %>
</html>
