<%= title("Reset your password") %>

<%= spacer() %>

<%= row do %>
  We received a request to reset the password for your account.
  Visit the link below to reset your password.
<% end %>

<%= spacer() %>

<%= row do %>
  <a href="<%= @reset_url %>">Reset password</a>
<% end %>

<%= spacer() %>

<%= row do %>
  The link will expire in 24 hours for security reasons.
<% end %>
