<%= title("#{short_name(@author)} #{@action}") %>

<%= spacer() %>

<%= if length(@files) == 1 do %>
  <%= row do %>
    <%= cta_button(@file_url, "View File") %>
  <% end %>
<% else %>
  <%= row do %>
    <%= cta_button(@cta_url, "View Files") %>
  <% end %>
<% end %>
