<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <title>Operately</title>

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <script>
      // Disable annoying Download the React DevTools for a better
      // development experience: https://fb.me/react-devtools message

      (function() {
        var info = console.info

        console.info = function (message) {
          if (!/Download the React DevTools/.test(message)) info.apply(console, arguments)
        }
      })()

      window.appConfig = {};

      window.appConfig.companyID = "<%= Operately.Companies.get_company_id() %>";
      window.appConfig.environment = "<%= Application.get_env(:operately, :app_env) %>";

      window.appConfig.graphql = {};
      window.appConfig.graphql.socketToken = "<%= OperatelyWeb.GraphqlWSSocket.gen_token(@conn) %>";

      window.appConfig.sentry = {};
      window.appConfig.sentry.enabled = <%= Application.get_env(:operately, :js_sentry_enabled) %>;
      window.appConfig.sentry.dsn = "<%= Application.get_env(:operately, :js_sentry_dsn) %>";
    </script>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

      body {
        font-family: 'Inter', sans-serif;
      }
    </style>

    <link rel="icon" href="/favicon.svg" type="image/svg+xml">

    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="antialiased overscroll-none" style="">
    <%= @inner_content %>
  </body>
</html>
