<.header>
  New Group
  <:subtitle>Use this form to manage group records in your database.</:subtitle>
</.header>

<div id="hello"/>

<.simple_form :let={f} for={@changeset} action={~p"/groups"}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:name]} type="text" label="Name" />
  <:actions>
    <.button>Save Group</.button>
  </:actions>
</.simple_form>

<.back navigate={~p"/groups"}>Back to groups</.back>
