<.header>
  Group <%= @group.id %>
  <:subtitle>This is a group record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/groups/#{@group}/edit"}>
      <.button>Edit group</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @group.name %></:item>
</.list>

<.back navigate={~p"/groups"}>Back to groups</.back>
