.ProseMirror {
  word-break: break-word;
}

.ProseMirror.dragover {
  position: relative;
}

.ProseMirror.dragover::after {
  content: "Drop your files to add them";
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
  color: var(--color-brand-1);
  border: 2px dashed var(--color-brand-1);
  background-color: rgba(0,255,0,0.1);
  padding-bottom: 1em;
}

.ProseMirror h1 {
  @apply text-2xl;
}

.ProseMirror h2 {
  @apply text-xl;
}

.ProseMirror hr {
  height: 0.5px;
  background-color: var(--color-stroke-dimmed);
  border: none;
  width: 100%;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.ProseMirror a {
  color: var(--color-link-base);
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.ProseMirror ul {
  padding: 0;
  padding-left: 1.5em;
  list-style: unset;
  margin: 0.5em 0;
}

.ProseMirror ol {
  padding: 0;
  padding-left: 1.5em;
  list-style: auto;
  margin: 0.5em 0;
}

.ProseMirror li {
  margin: 0.2em 0;
  line-height: 1.5;
}

.ProseMirror li ul,
.ProseMirror li ol {
  padding: 0;
  padding-left: 1.5em;
  margin: 0.2em 0;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  margin-bottom: 12px;
  padding-bottom: 6px;
  font-weight: 800;
}

.ProseMirror code {
  background-color: var(--color-surface-dimmed);
  color: var(--color-content-accent);
  font-size: 1rem !important;
}

.ProseMirror pre {
  background: var(--color-surface-dimmed);
  color: var(--color-content-accent);
  font-family: monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  white-space: pre;
  overflow-x: auto;
  max-width: 100%;
}
.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.ProseMirror img {
  max-width: 100%;
  height: auto;
}
.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}
.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: var(--color-content-subtle);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror [data-type="mention"] {
  font-weight: 500;
  color: var(--color-link-base);
}

.ProseMirror blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1rem;
  border-left: 3px solid var(--color-content-accent);
}

.ProseMirror .blob-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  max-width: 80%;
  color: var(--color-content-dimmed);
}

.ProseMirror .blob-container .footer {
  text-align: center;
  color: var(--color-content);
  font-size: 14px;
  font-weight: 500;
  margin-top: 3px;
}

.ProseMirror .blob-container img {
  border: 1px solid var(--color-stroke-base);
  border-radius: 0.5em;
  overflow: hidden;
}

.ProseMirror .blob-container a {
  color: var(--color-content);
  text-decoration: underline;
}

/* 
 *
 * Highlighting text in ProseMirror 
 * Important: Keep in sync with the CSS in the emails.
 *
 */

.ProseMirror mark[data-highlight="unset"] {
  color: var(--color-content-base);
  background-color: transparent !important;
}

.light body .ProseMirror mark[data-highlight="textYellow"] {
  color: var(--color-yellow-500); 
  background-color: transparent;
}

.light body .ProseMirror mark[data-highlight="textOrange"] {
  color: var(--color-orange-500);
  background-color: transparent;
}

.light body .ProseMirror mark[data-highlight="textRed"] {
  color: var(--color-red-500);
  background-color: transparent;
}

.light body .ProseMirror mark[data-highlight="textPurple"] {
  color: var(--color-purple-500);
  background-color: transparent;
}

.light body .ProseMirror mark[data-highlight="textBlue"] {
  color: var(--color-blue-500);
  background-color: transparent;
}

.light body .ProseMirror mark[data-highlight="textGreen"] {
  color: var(--color-green-500);
  background-color: transparent;
}

.light body .ProseMirror mark[data-highlight="bgYellow"] {
  background-color: var(--color-yellow-200);
}

.light body .ProseMirror mark[data-highlight="bgOrange"] {
  background-color: var(--color-orange-200);
}

.light body .ProseMirror mark[data-highlight="bgRed"] {
  background-color: var(--color-red-200);
}

.light body .ProseMirror mark[data-highlight="bgPurple"] {
  background-color: var(--color-purple-200);
}

.light body .ProseMirror mark[data-highlight="bgBlue"] {
  background-color: var(--color-blue-200);
}

.light body .ProseMirror mark[data-highlight="bgGreen"] {
  background-color: var(--color-green-200);
}

.dark body .ProseMirror mark[data-highlight="textYellow"] {
  color: var(--color-yellow-500);
  background-color: transparent;
}

.dark body .ProseMirror mark[data-highlight="textOrange"] {
  color: var(--color-orange-500);
  background-color: transparent;
}

.dark body .ProseMirror mark[data-highlight="textRed"] {
  color: var(--color-red-500);
  background-color: transparent;
}

.dark body .ProseMirror mark[data-highlight="textPurple"] {
  color: var(--color-purple-500);
  background-color: transparent;
}

.dark body .ProseMirror mark[data-highlight="textBlue"] {
  color: var(--color-blue-500);
  background-color: transparent;
}

.dark body .ProseMirror mark[data-highlight="textGreen"] {
  color: var(--color-green-500);
  background-color: transparent;
}

.dark body .ProseMirror mark[data-highlight="bgYellow"] {
  background-color: var(--color-yellow-800);
  color: white;
}

.dark body .ProseMirror mark[data-highlight="bgOrange"] {
  background-color: var(--color-orange-800);
  color: white;
}

.dark body .ProseMirror mark[data-highlight="bgRed"] {
  background-color: var(--color-red-800);
  color: white;
}

.dark body .ProseMirror mark[data-highlight="bgPurple"] {
  background-color: var(--color-purple-800);
  color: white;
}

.dark body .ProseMirror mark[data-highlight="bgBlue"] {
  background-color: var(--color-blue-800);
  color: white;
}

.dark body .ProseMirror mark[data-highlight="bgGreen"] {
  background-color: var(--color-green-800);
  color: white;
}

.rich-text-summary .ProseMirror-trailingBreak,
.rich-text-summary .ProseMirror-separator {
  display: none !important;
}
